.result{
  border: grey solid 2px;
  margin: 5px;
}

ul{
  list-style: none;
  display: flex;
  justify-content: 'space evenly';
}

li{
  padding: 5px;
  background-color: cyan;
  margin: 2px;
}

input:focus, a:focus{
  outline: none;
}

a {
  cursor: pointer;
}

.active {
  background-color: salmon;
}

.content{
  padding: 10px;
}

button{
  color: #fff !important;
  text-transform: uppercase;
  background: #19c1c7;
  padding: 7px;
  margin-left: 2px;
  border-radius: 20px;
  display: inline-block;
  border: none; 
}